﻿@using Incoding.Extensions
@using Incoding.MvcContrib
<!DOCTYPE html>

<html >
    <head>
        
        
        <meta charset="utf-8">
        <title>My Awesome Site</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is my first web page using the magic of twitter bootstrap">
        <meta name="author" content="Bootstrap Tutor">
 
        <!-- Le styles -->
        <link href="~/Content/css/mystl.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="~/Content/css/bootstrap-responsive.css" rel="stylesheet">
 
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
 
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://github.com/twitter/bootstrap/tree/master/docs/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://github.com/twitter/bootstrap/tree/master/docs/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://github.com/twitter/bootstrap/tree/master/docs/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="https://github.com/twitter/bootstrap/tree/master/docs/assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="https://github.com/twitter/bootstrap/tree/master/docs/assets/ico/favicon.png">
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/underscore.min.js")"> </script>                
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.form.min.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.history.js")"> </script>        
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/handlebars-1.1.2.js")"> </script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/incoding.framework.js")"> </script>     
        <script>
            TemplateFactory.Version = '@Guid.NewGuid().ToString()';
        </script>
    </head>
    @Html.Incoding().RenderDropDownTemplate()
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Mysite</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="@Url.Action("Index","Home").SetHash(Url.Dispatcher().AsView("~/Views/Home/CMS.cshtml"))">Главная</a>
                            <li><a href="@Url.Action("Index","home").SetHash(Url.Dispatcher().AsView("~/Views/Home/Contact.cshtml"))">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   
        @RenderBody()      
    </body>
</html>
