﻿@import "bootstrap.css";
li {
list-style-type: none;
}

tr {
margin: 52px;
}

body {
    font: 1em Arial;
}
.tableft {
     border-top-left-radius: 20px;
     border-bottom-left-radius:  20px;
     background: #add8e6;
}
.tabcentr {
     background: #add8e6;
}
.tabright {
     border-top-right-radius:  20px;
     border-bottom-right-radius:   20px;
     background: #add8e6;
}



.tableftm {
     border-top-left-radius: 20px;
     border-bottom-left-radius:  20px;
     background: #00ff7f;
   
}
.tabcentrm {
     background: #00ff7f;
      
}
.tabrightm {
     border-top-right-radius:  20px;
     border-bottom-right-radius:   20px;
     background: #00ff7f;
    
}




table { border-collapse: separate; }
tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }