﻿@using Incoding.MvcContrib
@model incGetStarted.Domain.AddPartCommand
@Html.HiddenFor(r => r.IdModerator)
@Html.For(r => r.Title).TextBox(control =>
    {
        control.Placeholder = "title";
        control.AddClass("input-medium");
    })
@Html.ValidationMessageFor(r=>r.Title)
<div>
    @Html.For(r => r.Comment).TextBox(control =>
    {
        control.Placeholder = "comment";
        control.AddClass("input-medium");
    })
    @Html.ValidationMessageFor(r=>r.Comment)
    <div>
        <input type="submit" value="Save" />
    </div>
</div>

