﻿@using System.Web.UI.WebControls
@using FluentNHibernate.Utils
@using incGetStarted.Domain
@using IncGetStarted.UI.Core
@using Incoding.Extensions
@using Incoding.MvcContrib
@using NHibernate.Hql.Ast.ANTLR
@using HtmlExtensions = IncGetStarted.UI.Core.HtmlExtensions
@model AddModeratorCommand

@{
    var containderId = Guid.NewGuid().ToString(); ;
    var searchId = Guid.NewGuid().ToString();
    var footerId = Guid.NewGuid().ToString();
    var ModerName = Guid.NewGuid().ToString();
    var ModerEmail = Guid.NewGuid().ToString();
}
<div class="row-fluid">
    <div class="span5"></div>
        <div>
            <br />
            @(Html.When(JqueryBind.Change)
                  .Do()
                  .Direct()
                  .OnSuccess(dsl => dsl.WithId(footerId).Core().Trigger.Incoding())
                  .AsHtmlAttributes(new { id = ModerName, PlaceHolder = "ModerName" })
                  .ToInput(HtmlInputType.Text, "")
            )
            @(Html.When(JqueryBind.Change)
                  .Do()
                  .Direct()
                  .OnSuccess(dsl => dsl.WithId(footerId).Core().Trigger.Incoding())
                  .AsHtmlAttributes(new { id = ModerEmail, PlaceHolder = "ModerEmail" })
                  .ToInput(HtmlInputType.Text, "")
            )
            @(Html.When(JqueryBind.Click)
                  .Do()
                  .AjaxPost(Url.Action("AddModerator", "Home", new AddModeratorCommand { Name = ModerName.ToId(), Email = ModerEmail.ToId() }))
                  .OnSuccess(dsl => dsl.WithId(containderId).Core().Trigger.Incoding())
                  .AsHtmlAttributes(new { @class = "btn btn-small " })
                  .ToButton("insert_moder")
            )
        </div>
    </div>
    <div>

        @(Html.When(JqueryBind.None | JqueryBind.InitIncoding)
              .Do()
              .AjaxPost(Url.Action("FetchCustomer", "Home", new GetModeratorQuery { Search = searchId.ToId() }))
              .OnSuccess(dsl =>
              {
                  var urlTmpl = Url.Dispatcher()
                                   .Model(new GetModeratorQuery.Tmpl()
                                       {
                                           FooterId = footerId,
                                           ContainerId = containderId
                                       })
                                   .AsView("~/Views/Home/Customer_Table_Tmpl.cshtml");
                  dsl.Self().Core().Insert.WithTemplateByUrl(urlTmpl).Html();
                  dsl.WithId(footerId).Core().Trigger.Incoding();

              })
              .AsHtmlAttributes(new { id = containderId })
              .ToDiv())
    </div>
    <div>
        @Html.Load(setting =>
        {
            setting.Url = Url.Action("ActivStatusCustomer", "Home", new GetStatusModeratorQuery { });
            setting.Tmpl = Url.Dispatcher().AsView("~/Views/Home/Costomer_down.cshtml");

        })
    </div>



