﻿<h2>Contact</h2>
<div class="row-fluid">
    <div class="span12">

        <div class="row-fluid">
            <div class="span6">

                <div class="row-fluid">
                    <div class="span6"></div>
                    <div class="span6"></div>
                </div>
            </div>
            <div class="span6">
                <h2>Это страничка контактов </h2>
                <br />
                <address>
                    <strong>Ri</strong><br>
                    <abbr title="Phone">Phone:</abbr>
                    8(888)888-88-88<br />
                                               <abbr title="Email" >Email:</abbr><a href="mailto:#"  >ilya.l.richard@gmail.com<i class="icon-envelope"></i></a>
                                               <br />
                                              <abbr title="Skype">Skype:  </abbr> skype <a href="skype: skype?call"><img src="../../Content/img/skype.png"  style="border: none;" width="20" height="20" border="0"></a>
                </address>
            </div>
        </div>
    </div>
</div>
