﻿@using incGetStarted.Domain
@using Incoding.MvcContrib

@using (var templte = Html.Incoding().Template<GetStatusModeratorQuery.Response>())
{
    <div class="span3 offset5 ">
        @{
            var FooterTempl = Guid.NewGuid().ToString(); 
        }
        <div>
        <div class="navbar span6">
            <div class="row-fluid well   input-block-level container navbar-fixed-bottom  navbar-inner">
              <ul class="nav  ">
                 
                    @using (var each = templte.ForEach())
                    {
                        <li><a href="javascipt:void()">Всего тем @each.For(r => r.AllCount)</a></li>
                        <li><a href="javascipt:void()">Активно   @each.For(r => r.TrueCount)</a></li>
                        <li><a href="javascipt:void()">Неактивно @each.For(r => r.FalseCount)</a></li>
                    }
                </ul>
            </div>
        </div>
        </div>
        </div>
}

