﻿@using System.Linq.Expressions
@using System.Web.UI.WebControls
@using incGetStarted.Domain

@using Incoding.Extensions
@using Incoding.MvcContrib
@model GetModeratorQuery.Tmpl

@{
    using (var templte = Html.Incoding().Template<GetModeratorQuery.TempModeratorAndParClass>())
    {
        
        <div class="span5"></div>
        <table class=" span6">
            <thead>
                <tr>
                    <td>Имя</td>
                    <td>Email</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @using (var each = templte.ForEach())
                {
                    <tr class="@each.IsInline(r => r.Active, "text-error"),unstyled table table-condensed ">

                        <td class="tableftm">@each.For(r => r.Name)</td>
                        <td class="tabcentrm">@each.For(r => r.Email)</td>
                        <td class="tabcentrm">@each.For(r => r.Comment)</td>
                        <td class="tabcentrm">@each.For(r => r.Title)</td>
                        <td class="tabcentrm">
                            <li class="dropdown-submenu ">
                                <i tabindex="-1" href="javascipt:void()" class="icon-plus"></i>
                                <ul class="dropdown-menu">
                                    <a tabindex="-2" href="javascipt:void()">
                                        @using (Html.When(JqueryBind.Submit)

                            .DoWithPreventDefault()
                            .Submit()
                            .OnBegin(dsl => dsl.Self().Core().Form.Validation.Parse())
                            .OnSuccess(dsl => dsl.With(r => r.Id(Model.FooterId, Model.ContainerId)).Core().Trigger.Incoding())
                            .OnError(dsl => dsl.Self().Core().Form.Validation.Refresh())
                            .AsHtmlAttributes(new { action = Url.Action("AddPat", "Home"), @class = "btn btn-small " })
                            .ToBeginTag(Html, HtmlTag.Form))
                                        {
                                            @Html.Partial("~/Views/Home/Add_Part.cshtml", new AddPartCommand()
                            {
                                IdModerator = each.For(r => r.Id_moder)
                            })
                                        }
                                    </a>
                                </ul>
                            </li>
                        </td>
                        <td class="tabcentrm">
                            <li class="dropdown-submenu">
                                <i tabindex="-1" href="javascipt:void()" class="icon-pencil"></i>
                                <ul class="dropdown-menu">
                                    <a tabindex="-2" href="javascipt:void()">
                                        @using (Html.When(JqueryBind.Submit)
                            .DoWithPreventDefault()
                            .Submit()
                            .OnBegin(dsl => dsl.Self().Core().Form.Validation.Parse())
                            .OnSuccess(dsl => dsl.With(r => r.Id(Model.FooterId, Model.ContainerId)).Core().Trigger.Incoding())
                            .OnError(dsl => dsl.Self().Core().Form.Validation.Refresh())
                            .AsHtmlAttributes(new { action = Url.Action("EditModer", "Home"), @class = "btn btn-small" })
                            .ToBeginTag(Html, HtmlTag.Form))
                                        {
                                            @Html.Partial("~/Views/Home/Edit_Moder.cshtml", new EditModeratorCommand()
                            {
                                Id = each.For(r => r.Id_moder),
                                Name = each.For(r => r.Name),
                                Email = each.For(r => r.Email)
                            })
                                        }
                                    </a>
                                </ul>
                            </li>

                        </td>
                        <td class="tabrightm">
                            @(Html.When(JqueryBind.Click)
                  .Do()
                  .AjaxPost(Url.Action("DelModer", "Home", new
                  {
                      Id_Moder = each.For(r => r.Id_moder)
                  }))
                  .OnSuccess(dsl =>
                  {
                      dsl.WithSelf(r => r.Closest(HtmlTag.Tr)).Core().JQuery.Manipulation.Remove();
                      dsl.With(r => r.Id(Model.FooterId, Model.ContainerId)).Core().Trigger.Incoding();
                  })
                  .AsHtmlAttributes(new { @class = "btn btn-danger" })
                  .ToButton("del")
                            )
                        </td>
                    </tr>
                    using (var innerEach = each.ForEach(p => p.tempP))
                    {

                        <tr>
                            <td></td>
                            <td colspan="2" class="tableft">@innerEach.For(r => r.Title)</td>
                            <td colspan="5" class="tabcentr">@innerEach.For(r => r.Comment)</td>
                            <td class="tabcentr">
                                @{
                        Func<bool, MvcHtmlString> createCheckBox = isValue => Html
                            .When(JqueryBind.Click)
                            .Do()
                            .AjaxPost(Url.Dispatcher().Push(new ToggleParCommand
                            {
                                Id = innerEach.For(r => r.id_Par)
                            }))
                            .OnSuccess(dsl =>
                            {
                                dsl.WithSelf(r => r.Closest(HtmlTag.Tr)).Core().JQuery.Attributes.RemoveClass("text-error");
                                dsl.WithSelf(r => r.Closest(HtmlTag.Tr)).Core().JQuery.Attributes.AddClass("text-error")
                                .If(builder => builder.Is(() => Selector.Jquery.Self()));
                                dsl.WithId(Model.FooterId).Core().Trigger.Incoding();
                            })
                            .AsHtmlAttributes()
                            .ToCheckBox(isValue);
                                }
                                @using (each.Is(r => r.Active))
                                {
                                    @createCheckBox(true)
                                }
                                @using (each.Not(r => r.Active))
                                {
                                    @createCheckBox(false)
                                }
                            </td>

                            <td class="tabright">
                                @(Html.When(JqueryBind.Click)
                                  .Do()
                                  .AjaxPost(Url.Action("DelPat", "Home", new
                                  {
                                      Id_Par = innerEach.For(r => r.id_Par)
                                  }))
                                  .OnSuccess(dsl =>
                                  {
                                      dsl.WithSelf(r => r.Closest(HtmlTag.Tr)).Core().JQuery.Manipulation.Remove();
                                      dsl.With(r => r.Id(Model.FooterId, Model.ContainerId)).Core().Trigger.Incoding();
                                  })
                                  .AsHtmlAttributes(new { @class = "btn btn-danger " })
                                  .ToButton("del"))
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
      
    }
}