﻿@using Incoding.MvcContrib
@model incGetStarted.Domain.EditModeratorCommand
@Html.HiddenFor(r => r.Id)

@Html.For(r => r.Name).TextBox(control =>
    {
        control.Placeholder = "title";
        control.AddClass("input-medium");
    })
<div>    
    @Html.For(r => r.Email).TextBox(control =>
        {
            control.Placeholder = "comment";
            control.AddClass("input-medium");
        })
    <div>
        <input type="submit" value="Update" />
    </div>
</div>